# EDA Capstone Project
Sam's EDA on datasets

In [2]:
import pandas as pd
import seaborn as sns

In [13]:
demand_df = pd.read_csv('../data/raw/totaldemand_nsw.csv')

In [14]:
demand_df.head()

              DATETIME REGIONID  TOTALDEMAND
0  2010-01-01 00:00:00     NSW1      7997.41
1  2010-01-01 00:05:00     NSW1      7946.51
2  2010-01-01 00:10:00     NSW1      7921.55
3  2010-01-01 00:15:00     NSW1      7837.84
4  2010-01-01 00:20:00     NSW1      7781.11

In [19]:
demand_df.dtypes

DATETIME        object
REGIONID        object
TOTALDEMAND    float64
dtype: object